body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.container{
    
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color:crimson ;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
}
h1{
    text-align: center;
    color: coral;
}
.todo-input{
    display: flex;
    margin-bottom: 20px;
}
input[type="text"]{
    flex:1;
    padding: 10px;
    border:1px solid #ccc;
    border-radius:5px 0 0 5px;
    font-size: 16px;

}
button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}
ul{
    list-style-type: none;
    padding: 0;
}